{% extends 'base.html' %}
{% load static %}

{% block title %}
    PowerPack
{% endblock %}

{% block without_container %}
<div class="techwave_fn_home">
					<div class="section_home">
						<div class="section_left">

							<!-- Title Shortcode -->
							<div class="techwave_fn_title_holder">
								<h1 class="title">Projet de Gestion de Scolarité </h1>
								<p class="desc">python with Django</p>
							</div>
							<!-- !Title Shortcode -->

							<!-- Interactive List Shortcode -->

						</div>
						<div class="section_right">
							<div class="company_info">

								<img src="{% static 'img/Logo_inptfull.png' %}" alt="">
								<p class="fn__animated_text">Notre application est conçue pour simplifier et optimiser la gestion des paiements pour les responsables de régie. Avec une interface intuitive et des fonctionnalités robustes, elle permet aux gestionnaires de superviser efficacement toutes les transactions financières liées à la régie.</p>
								<!-- <hr>
							 <div class="fn__members">
									<div class="active item">
										<span class="circle"></span>
										<span class="text">1,154,694 Online</span>
									</div>
									<div class="item">
										<span class="circle"></span>
										<span class="text">77,345,912 Members</span>
									</div>
								</div>-->
							</div>
						</div>
					</div>
				</div>
<footer class="techwave_fn_footer">
				<div class="techwave_fn_footer_content">
					<div class="copyright">
						<p>2023© Zouhri Anouar</p>
				</div>
			  </footer>
	</div>
{% endblock %}
